
  <h3>お問い合わせ完了</h3>


<br>
  お問い合わせ頂き、ありがとうございました。<br><br>
  お問い合わせ内容を確認させていただき、サービス向上に生かします。<br><br>
  個人開発のサービスのため、原則、サポートは致しかねること、御了承ください。
  <br><br>
  <%= link_to 'TOPに戻る', '/',
              :class => 'btn btn-default'%>
