ニーサジャパン.comに、ようこそ！<br>
<br>
お申し込み頂きましたアカウント情報は以下となります。<br>
<br>
&nbsp;ログインID：<%=@resource.email%><br>
&nbsp;パスワード：個人情報のため表示を伏せています<br>
<br>
ご本人様確認のため、下記URLにアクセスし<br>
アカウントの本登録を完了させて下さい。<br>
<p><%= link_to t('.action', :default => "Confirm my account"),
               confirmation_url(@resource, :confirmation_token => @token, locale: I18n.locale) %></p>
<br>
※当メールは送信専用メールアドレスから配信されています。<br>
&nbsp;このままご返信いただいてもお答えできませんのでご了承ください。<br>
<br>
※当メールに心当たりの無い場合は、誠に恐れ入りますが<br>
&nbsp;破棄して頂けますよう、よろしくお願い致します。<br><br>

--------------------------------<br>
ニーサジャパン.com<br>
&nbsp;&nbsp;<a href="https://nisa.jpn.com">https://nisa.jpn.com</a>


